* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    color: black;   
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#top {
    text-shadow: 2px 2px 5px rgba(255, 166, 0, 0.88);
}
#topp {
    color: #e7cd47;
}
#expe {
    font-size: 20px 
}
#comp {
    font-size: 1.5em
}
#formation {
    font-size: 1rem
}
img {
    max-width: 75%;
    height: auto;
    width: auto;
}
main img {
    max-width: 50%;
}
a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: #ceaa4a;
}
ul {
    color: #e7cd47;
    list-style-position: inside;
}
