* {
    box-sizing: border-box;
    margin-left: .2em;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: whitesmoke;
}

img {
    max-width: 75%;
    height: auto;
    width: auto;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}
main img {
    max-width: 50%;
    height: 50%;
}
