* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    color: black;   
    background-image: url("../img/font.avif"); 
}
#top {
    color: black;
    box-shadow: 10px 5px 44px gold;
    width: 19rem;
}
#expe {
    font-size: 20px 
}
#comp {
    font-size: 1.5em
}
#formation {
    font-size: 1rem
}
img {
    max-width: 75%;
    height: auto;
    width: auto;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}
main img {
    max-width: 50%;
    height: 50%;
}
ul {
    color: darkorange;
}
li {
    color: orange;
}
